@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:rgb(36, 33, 179);
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color:rgb(0, 0, 0);
	letter-spacing: 0.5px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
	color: #3f04e2;
	letter-spacing: 0.5px;
	font-family:'Times New Roman', Times, serif;
}