*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro{
	background: #67dcee;
    background-image: cross-fade();
}
h1{
	color:black;
	font-weight:bolder;
	transition: 0.5s;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:30px;
}
h3{
	color:#000000;
	font-size: larger;
}
button{
	border:none;
	border-radius: 10px;
	padding: 15px;
	background:#2ed9e9; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 20px;
	transition: 0.5s;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#797979;
}
footer{
	color:#586776;
	background-color:#EAF0F1;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}
@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 100px;
	}
}